[INCLUDES]

before = paths-fedora.conf

[DEFAULT]

#ignoreself = true
ignoreip = 127.0.0.1/8 172.26.80.0/24 # 213.61.255.82/28 213.61.210.242/29 
ignorecommand =

bantime  = 1440m
findtime  = 2880m

# "maxretry" is the number of failures before a host get banned.
maxretry = 3

# "maxmatches" is the number of matches stored in ticket (resolvable via tag <matches> in actions).
maxmatches = %(maxretry)s

backend = auto
usedns = warn
logencoding = auto
enabled = false
mode = normal
filter = %(__name__)s[mode=%(mode)s]

#
# ACTIONS
#

destemail = heiko.bollert@giata.de
sender = technik@giata.com
mta = sendmail
protocol = tcp
chain = <known/chain>
port = 0:65535
fail2ban_agent = Fail2Ban/%(fail2ban_version)s
banaction = iptables-multiport
banaction_allports = iptables-allports

action_ = %(banaction)s[port="%(port)s", protocol="%(protocol)s", chain="%(chain)s"]
action_mw = %(action_)s
  %(mta)s-whois[sender="%(sender)s", dest="%(destemail)s", protocol="%(protocol)s", chain="%(chain)s"]
action_mwl = %(action_)s
  %(mta)s-whois-lines[sender="%(sender)s", dest="%(destemail)s", logpath="%(logpath)s", chain="%(chain)s"]
action = %(action_mw)s

#
# JAILS
#

[sshd]
port    = ssh,2222
logpath = %(sshd_log)s
backend = %(sshd_backend)s
enabled = true

[dropbear]
port     = ssh,2222
logpath  = %(dropbear_log)s
backend  = %(dropbear_backend)s
enabled  = true

{% if 'upload.giata.com' in inventory_hostname %}
[vsftpd]
port     = ftp,ftp-data,ftps,ftps-data
logpath  = %(vsftpd_log)s
maxretry = 5
enabled  = true
{% endif %}
