Port 22
ListenAddress 0.0.0.0

HostKey /etc/ssh/ssh_host_ed25519_key

SyslogFacility AUTHPRIV
#LogLevel INFO

LoginGraceTime 1m
PermitRootLogin prohibit-password
MaxAuthTries 3
MaxSessions 10

PubkeyAuthentication yes
AuthorizedKeysFile	.ssh/authorized_keys .ssh/authorized_keys2

PasswordAuthentication no
ChallengeResponseAuthentication no
HostbasedAuthentication no
IgnoreRhosts yes
GSSAPIAuthentication no
GSSAPICleanupCredentials yes

X11Forwarding no
PrintMotd no
PrintLastLog no
TCPKeepAlive yes
VersionAddendum none

UsePAM yes
UseDNS no

AcceptEnv LANG LC_CTYPE LC_NUMERIC LC_TIME LC_COLLATE LC_MONETARY LC_MESSAGES
AcceptEnv LC_PAPER LC_NAME LC_ADDRESS LC_TELEPHONE LC_MEASUREMENT
AcceptEnv LC_IDENTIFICATION LC_ALL LANGUAGE
AcceptEnv XMODIFIERS

Subsystem	sftp    /usr/libexec/openssh/sftp-server
